{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusamus dignissimos debitis vero iure unde, aperiam, ipsam quae provident deleniti rerum laudantium quaerat doloremque! Et consequuntur alias quos ab minus?</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Sign in
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Sign up
            </a>
        </div>
        
    </section>
</main>

{% endblock %}